/.idea
/.env
/app.log
/docker-compose.yml
/doctrineConfiguration.php
/mailConfiguration.php
/stan.log
/structure.dump
/test/.phpunit.cache
/test/.phpunit.result.cache
/test/testdocs.html
/test/coverage

/cache
/docker-volumes/backups
/log
/public/vendor
/vendor
/.php-cs-fixer.cache
