/.idea
/.env
/app.log
/doctrineConfiguration.php
/mailConfiguration.php
/structure.dump
/test/.phpunit.cache
/test/.phpunit.result.cache
/test/testdocs.html
/test/coverage

/log
/public/vendor
/vendor
