/.idea
/.env
/app.log
/docker-compose.yml
/doctrineConfiguration.php
/mailConfiguration.php
/stan.log
/structure.dump
/test/.phpunit.cache
/test/.phpunit.result.cache
/test/testdocs.html
/test/coverage
/.infection.log

/cache
/docs/.idea
/docs/webHelpDE2-all
/docs/webHelpDE2-all.zip
/docker-volumes/backups
/log
/public/vendor
/vendor
/.php-cs-fixer.cache

