body, html {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

a {
    color: #fff;
}

input[type="text"], input[type="email"], input[type="password"] {
    color: #fff;
    background: #333;
    border: solid 1px #ccc;
}

textarea {
    max-width: 400px;
    max-height: 300px;
}

label {
    display: inline-block;
    margin-right: 20px;
    min-width: 150px;
    vertical-align: top;
}
label.required {
    color: #cccccc;
    text-decoration: underline;
    font-weight: bolder;
}
label.required:after {
    content: "*";
}
table {
    width: 100%;
    border: solid 1px #666;
}

td, th {
    text-align: left;
    vertical-align: top;
}
th {
    border-bottom: solid 3px #fff;
}

h1, h2, h3 {
    margin: 0;
    margin-bottom: 20px;
    border-bottom: solid 1px #999;
}

.errors {
    color: #f22;
    margin: 5px;
}


.cards {
    max-width: 100%;
    overflow: hidden;
}

.buttonRow > * {
    margin-right: -4px !important;
    margin-left: -4px !important;
}

.primaryButton, .dangerButton, .warningButton, .btn-close {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
}

.primaryButton, .btn-close {
    border: solid 3px #fff;
    background: #999999;
}

.dangerButton{
    border: solid 3px #f00;
    background: #f66;
}

.warningButton{
    border: solid 3px #e8c92f;
    background: #a19126;
}

.row {
    display: flex;
    gap: 10px;
}
.column {
    flex: 1;
    justify-content: space-between;
}

#app {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}


#app > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30ch;
      gap: 1rem;

}

#menu {
    padding-right: 20px;
    border-right: solid 1px #ccc;
    flex-basis: 10rem;
    flex-grow: 1;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
#menu ul li {
    margin-bottom: 10px;
}

#content {
    margin: 20px;
    margin-top: 0;
    margin-right: 0;
    flex-basis: 0;
    flex-grow: 999;
      min-inline-size: 50%;

}

#appTitle {
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.5em;
}

.taskContainer, .groupContainer {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    margin: 5px;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 5px;
}

.taskContainer>a, .groupContainer>a {
    margin-top: auto;
}
#messageContainer {
    border: solid 3px #fff;
    margin-bottom: 10px;
    padding: 50px 5px;
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    background: #ccc;
}
.alert.alert-danger {
    color: #ff0000;
}
.alert.alert-success {
    color: #154709;
}
.alert.alert-warning {
    color: #ae9809;
}
.alert.alert-info {
    color: #333;
}
.btn-close:before {
    content: 'X';
}

.executionNote{
    border: solid 1px #fff;
    max-height: 1.1em;
    overflow: hidden;
}
.executionNote:hover{
    max-height: 200px;
    overflow: auto;
}

.taskNote {
    border: solid 1px #fff;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}